@import './variables.scss';

.button {
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    &_action {
        color: $accentColor;
        margin-bottom: 0.5rem;
    }
    &_value {
        color: $secondaryTextColor;
    }
    &_input {
        border: none;
        font-size: 1.6rem;
        color: $secondaryTextColor;
        width: 100%;
        &::placeholder {
            color: $secondaryTextColor;
        }
        &:focus {
            border: none;
            color: $textColor;
            outline: none;
        }
    }
}