
html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EBF5FF;
}
main {
  // max-width: 100rem;
  overflow: auto;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  padding: 7rem 0 0 0;
  scroll-behavior: smooth;

}
main::-webkit-scrollbar {
  width: 0;
}
span {
  font-family: 'Montserrat', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
}
button {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  &::first-letter {
    text-transform: uppercase;
  }
}

.MuiTypography-root {
  font-size: 1.4rem;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.slick-dots {
  bottom: -40px !important;
}
.slick-dots-coffeePot {
  bottom: 1rem !important;
}
.slick-dots li button:before {
  color: #fff !important;
  font-size: 1.5rem !important;
  opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
  color: #FFAC04 !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
