@import './variables.scss';

.header {
    height: 7rem;
    width: 100%;
    background-color: $accentColor;
    display: flex;
    position: fixed;
    z-index: 9999;
    margin-bottom: 7rem;
    &_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            margin-left: 20px;
        }
        &_button {
            border: none;
            background-color: transparent;
            margin-right: 20px;
        }
    }
}


