@import './variables.scss';

.header {
    height: 7rem;
    width: 100%;
    background-color: $accentColor;
    display: flex;
    position: fixed;
    z-index: 9999;
    margin-bottom: 7rem;
    &_block {
        width: 100%;
        max-width: 100rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            margin-left: 20px;
        }
        &_button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            margin-right: 20px;
            height: 2rem;
            outline: none;
        }
    }
}

// .openBurger {
//     width: 2rem;
//     height: 0.3rem;
//     color: #fff;
//     margin-bottom: 1rem;
// }
/* добавляем "гамбургер" */


