@import './variables.scss';

.overlay {
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000009E;
    overflow: auto;
    z-index: 2;
    transition: 5000ms;
}

.menu {
    position: relative;
    z-index: 5;
    display: flex;
    background: #ffffff;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
    box-shadow: -2px 8px 8px rgba(0, 0, 0, 0.17);
}
.link {
    height: 4rem;
    padding: 1rem;
    font-size: 1.7rem;
    &_active {
        height: 4rem;
        padding: 1rem;
        font-size: 1.7rem;
        color: $accentColor;
        background-color: $bgColor;
        border-radius: 1rem;
    }
}