@import './variables.scss';

.left {
    display: flex;
    align-self: flex-start;
    background-color: #fff;
    padding: 1.5rem;
    flex-grow: 1;
    border-radius: 2rem 3rem 3rem 0;
    max-width: 80%;
    margin-bottom: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}
.right {
    display: flex;
    align-self: flex-end;
    background-color: #FFF4DE;
    padding: 1.5rem;
    flex-grow: 1;
    border-radius: 3rem 2rem 0 3rem ;
    max-width: 80%;
    margin-bottom: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.left_time {
    color: rgba(0, 0, 0, 0.35);
    font-size: 1rem;
    margin-top: 1rem;
}
.right_time {
    color: rgba(0, 0, 0, 0.35);
    font-size: 1rem;
    margin-top: 1rem;
    text-align: right;
}