@import './variables.scss';

.seending {
    padding: 3rem;
    &_form {
        display: flex;
        flex-direction: column;
        
    }
    &_textarea {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.37);
        border-radius: 10px;
        margin-bottom: 0.5rem;
        padding: 1rem;
        font-size: 1.6rem;
        outline-color: $accentColor;
        font-family: 'Montserrat', sans-serif;
        resize: none;
        &::placeholder {
            color: $secondaryTextColor;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


