@import './variables.scss';

.userStat {
    padding: 3rem;
    &_h2 {
        font-size: 1.7rem;
        margin-top: 2rem;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 2rem;
        &::before{
            content: url('../images/sortIcon.svg');
        }
    }
    &_sort {
        display: flex;
        flex-wrap: wrap;
    }
    &_sortItem {
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        background-color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.7);
        border: 0.2rem solid transparent;
        transition: all 0.5s;

        &_active {
            border: 0.2rem solid $accentColor;
            transition: all 0.3s;
            scale: 1.1;
        }
    }
    &_table {
        background-color: #fff;
        width: 100%;
        padding: 0;
        font-size: 1.3rem;
        text-align: center;
        &> thead {
            
            &> tr {
                color: rgba(0, 0, 0, 0.6);
                font-weight: 600;
                &> th {
                    padding: 0.3rem;
                    border-bottom: 1px solid $warningColor;
                }
            }
        }
        &>tbody {
            &>tr {
                &>td {
                    color: rgba(0, 0, 0, 0.6);

                    padding: 0.1rem 1rem;
                }
            }
        }
    }
    &_tableWrap {
        position: absolute;
        left: 0;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
    }
}
